body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #357cff, #FF94D7);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.navbar-search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-search input {
    width: 25rem;
    padding: 8px 10px;
    border: #ffffff 2px solid;
    border-radius: 2rem;
    font-size: 18px;
    transition: box-shadow 0.3s;
    margin-left: 7.5rem;
}

.navbar-search input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-search button {
    
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
    font-weight: 900;
}

.navbar-links a:hover,
.navbar-logo:hover {
    color: #f8f8f8;
    transform: scale(1.1);
}

.card {
    width: 30vw;
    height: 40vh;
    background: linear-gradient(45deg, #357cff, #FF94D7);
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card h1 {
    font-size: xx-large;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

div input {
    width: 10vw;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 40px;
    background: transparent;
    color: white;
    outline: none;
    font-size:large;
}

div input::placeholder {
    color: white;
}

.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50vh;
    margin-top: 7%;
}

.card div a {
    color: white;
    font-size: small
}

.loginButton {
    margin-left: 9%;
}

.loginButton:hover {
    margin-left: 9%;
    background-color: white;
    transition: 0.7s;
    color: black;
}