body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
}

.navbar-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background: #357cff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3;
    position: relative;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
}



.navbar-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.navbar-search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-search input[type="text"] {
    width: 25rem;
    padding: 8px 10px;
    border: #ffffff 2px solid;
    border-radius: 2rem;
    font-size: 18px;
    transition: box-shadow 0.3s;
}

.navbar-search input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
    font-weight: 900;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    gap: 10px;
}

#filterButton {
    border-radius: 0px 8px 8px 0px;
    border: none;
    background: none;
    color: white;
}

#filterButton {
    padding: 10px 20px;
    font-size: 16px;
}

.filters-techniek {
    background-color: rgb(73, 82, 255);
    padding: 0.5%;
    border-radius: 40px;
    color: white;
}

.filters-zorg {
    background-color: orange;
    padding: 0.5%;
    border-radius: 40px;
    color: white;
}

.filters-horeca {
    background-color: rgb(0, 215, 0);
    padding: 0.5%;
    border-radius: 40px;
    color: white;
}

img[alt="profile"] {
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

hr {
    margin-top: 1%;
}

.navbar-links a:hover,
.navbar-logo:hover {
    color: #f8f8f8;
    transform: scale(1.1);
}

.section-container {
    display: flex;
    justify-content: center;
}

#newSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 80%; /* or any specific width you prefer */
    flex-wrap: nowrap;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    position: relative;
    width: 500px; /* Set the desired width */
    height: 340px; /* Set the desired height */
    flex: 0 0 auto; /* Prevent shrinking */
    border-radius: 10px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: for shadow */
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    z-index: 1; /* Place the image on the lowest layer */
    border-radius: 10px;
}

.card-content {
    position: absolute;
    top: 0;
    right: -3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0); /* Transparent background */
    color: white; /* Make the text white for better readability */
    z-index: 2; /* Place the content on the top layer */
    padding: 20px; /* Optional: for inner spacing */
    text-align: center;
}


.custom-card-buttons {
    display: flex;
    gap: 10px;
}

.custom-card-button {
    min-width: 8rem;
    max-width: 8rem;
    padding: 10px 20px;
    color: #fff;
    background: #357cff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.custom-card-button:hover {
    background: #255bb5;
}

.custom-card-button-secondary {
    min-width: 8rem;
    max-width: 8rem;
    padding: 10px 20px;
    color: #fff;
    background: #357cff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.custom-card-button-secondary:hover {
    background: #255bb5;
}

.container-infoAndLoading {
    width: 80vw;
}

.titlepart {
    font-size: 32px;
    font-weight: bold;
    color: #357cff;
    text-decoration: none;
}

.cardpart {
    background-color: #357cff;
    border-radius: 12px;
    padding: 10px;
    width: 15%;
    color: white;
    height: 20rem;
}

.techpart {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
}

.techniekRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100vw;
}

.carepart {
    padding-left: 3rem;
}

.touristpart {
    padding-left: 3rem;
}

.stipple-effect {
    border-top: 1px dashed ;
    margin-top: -4%;
}