body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #357cff, #FF94D7);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
}



.navbar-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.navbar-search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-search input[type="text"] {
    width: 25rem;
    padding: 8px 10px;
    border: #ffffff 2px solid;
    border-radius: 2rem;
    font-size: 18px;
    transition: box-shadow 0.3s;
    margin-left: 7.5rem;
}

.navbar-search input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
    font-weight: 900;
}

.navbar-links a:hover,
.navbar-logo:hover {
    color: #f8f8f8;
    transform: scale(1.1);
}

#filterButton {
    border-radius: 0px 8px 8px 0px;
    border: none;
    background: none;
    color: white;
}

#filterButton {
    padding: 10px 20px;
    font-size: 16px;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 40vh;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    z-index: 2;
}



#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

#menu.hidden {
    transform: translateY(-100%);
}

#menu.visible {
    margin-top: 10vh;
    transform: translateY(0);
}

.closeButtonStyle {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
    background: transparent;
    border: none;
}



.game-info-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image-container {
    margin-bottom: 20px;
}

.main-game-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.game-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.game-gallery img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.game-gallery img:hover {
    transform: scale(1.1);
}

.game-details {
    text-align: center;
    margin-top: 20px;
}

.game-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.game-description {
    font-size: 1.2rem;
    line-height: 1.6;
}

img {
    width: 16rem;
    height: 14rem;
    border-radius: 3px 3px 0px 0px;
}

#newSection {
    display: flex;
    flex-direction: row;
    margin: 15px;
    gap: 10px;
    z-index: 1;
}

.card {
    display: flex;
    flex-direction: column;
    width: 257px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

#launchButton {
    background-color: white;
    color: rgb(0, 168, 0);
    padding: 7%;
    text-decoration: none;
    border: 2px solid rgb(0, 168, 0);
}

#launchButton:hover {
    background-color: rgb(0, 168, 0);
    color: white;
    transition: 0.7s;
}

#infobutton {
    background-color: white;
    color: #357cff;
    padding: 7%;
    text-decoration: none;
    border: 2px solid #357cff;
}

#infobutton:hover {
    color: white;
    background-color: #357cff;
    transition: 0.7s;

}
